# Intrmediate SQL Exercises

### EXERCISE – 16

List the name of all the consultants from `CONSULTANTS` and `CONSULTANT_TITLE`. If the same name exists in both tables, then it should appear only once in the result set.

In [ ]:
SELECT 
  first_name, 
  last_name 
FROM 
  consultants 
UNION 
SELECT 
  first_name, 
  last_name 
FROM 
  consultant_title;

24 records

### EXERCISE – 17

List the name of all the consultants that are common between the `CONSULTANTS` and `CONSULTANTS_TITLE` tables. If the same name exists in both the tables, then it should appear twice in the result set.

### EXERCISE – 18

List the name of all the consultants that exist in both the tables - `CONSULTANTS` and `CONSULTANTS_TITLE`.

### EXERCISE – 19

List all the jobs that exist in JOBS table, but do not exist in the JOB_HISTORY table.

### EXERCISE - 20

Find out if any consultant works for both client 1 and client 2. Exclude any such client that is from New York.

### EXERCISE – 22

List all the employees that have a hire date that is earlier than the hire date of employee ID 110 (John)

*HINT: Use the EMPLOYEES table*

### EXERCISE – 23

List all the names of consultants and their job title. The result set should **ONLY** display consultants that do not exist in the `CONSULTANTS` table.

### EXERCISE 24

List all the countries, and the corresponding region name.

### EXERCISE 25

Find the list of all employees, and their salary where their salary is less than the average salary of all employees. Display the results beginning with lower salary first.

### EXERCISE – 26

Find the list of all employees, and their salary where their salary is less than the average salary of their department. Display the results beginning with lower salary first.

### EXERCISE – 27

Step 1: 
	Update the gender for Cindy Jones to be a blank.
Step 2:
	Display the name of each consultant and their gender. If the value of gender is “M”, then the display result should be “Male”. Similarly, if the value of gender is “F”, then the display result should be “Female”.  Any other value for gender should be displayed as “Unknown”.

### EXERCISE – 28

Display the name of each employee, their monthly salary, and a message. The message is as follows:

- If they make under 5000 a month : “Level 1”
- If they make between 5000 and 10,000 a month: “Level 2”
- If they make over 10,000 a month: “Level 3”

### EXERCISE 29

The monthly bonus calculated by Finance, was incorrectly flagged as Annual Bonus in the `BONUS_SCHEDULE` table in the database.

- Rename `ANNUAL_BONUS` as `MONTHLY_BONUS`
- Add a new column called `ANNUAL_BONUS`
- Populate data in this column using the generic formula 
`ANNUAL_BONUS = MONTHLY_BONUS * 12|`

### EXERCISE – 30

Provide the list of folks that don’t have `DEPENDENT_ID` tied to them in `EMPLOYEES` table. The result set needs to have the following information:

- Name (First Initial & Last Name)
- Dependent Id

### EXERCISE – 31

Conversely, provide the list of dependents that don’t have any employees tied to them in `EMPLOYEES` table.

### EXERCISE – 32

Create a report with the name of the supplier, the state and the time zone they are in.